<div ng-repeat="project in projects.projectsData">
  <home-project project="project"></home-project>
</div>


<div class="mainContain">
    <div class="psalContain previewContain rowContain">
      <div class="opacityLayer">
        <div class="titleContain">
          <div class="mgLogo"><p>mg</p></div>
          <div class="projectTitles">
            <h2>Public Schools<br>Athletic League</h2>
            <h4>MOBILE APP</h4>
            <p><a href="PSAL/index.html">Read The Case Study</a></p>
          </div>
        </div><!-- 
      --><div class="previewImageContain">
          <div class="previewContent">
            <img class="logo psalLogo" src="images/nyc_logo.png">
          </div>
        </div>
      </div>
    </div>
    <div class="erbContain previewContain rowContain">
      <div class="opacityLayer">
        <div class="titleContain">
          <div class="projectTitles">
            <h2>Admissions<br>Assessment</h2>
            <h4>TABLET & WEB APPS</h4>
            <p><a href="psal/index.html">Read The Case Study</a></p>
          </div>
        </div><!--
       --><div class="previewImageContain">
          <div class="previewContent">
            <img class="logo erbLogo" src="images/erbLogo1.png">
          </div>
        </div>
      </div>
    </div>
    <div class="macysContain previewContain rowContain">
      <div class="opacityLayer">
        <div class="titleContain">
          <div class="projectTitles">
            <h2>Thanksgiving<br>Day Parade</h2>
            <h4>MOBILE APP</h4>
            <p><a href="psal/index.html">Read The Case Study</a></p>
          </div>
        </div><!--
       --><div class="previewImageContain">
          <div class="previewContent">
            <img class="logo macysLogo" src="images/macysLogo2.png">
          </div>
        </div>
      </div>
    </div>
    <div class="moodsnapContain previewContain rowContain">
      <div class="opacityLayer">
        <div class="titleContain">
          <div class="projectTitles">
            <h2>Moodsnap</h2>
            <h4>MOBILE APP</h4>
            <p><a href="psal/index.html">Read The Case Study</a></p>
          </div>
        </div><!--
       --><div class="previewImageContain">
          <div class="previewContent">
            <img class="logo moodsnapLogo" src="images/MoodsnapLogo1.png">
          </div>
        </div>
      </div>
    </div>
    <div class="compContain previewContain rowContain">
      <div class="opacityLayer">
        <div class="titleContain">
          <div class="projectTitles">
            <h2>Office of the<br>Comptroller</h2>
            <h4>WEBSITE</h4>
            <p><a href="psal/index.html">Read The Case Study</a></p>
          </div>
        </div><!--
       --><div class="previewImageContain">
          <div class="previewContent">
            <img class="logo compLogo" src="images/nyc_logo.png">
          </div>
        </div>
      </div>
    </div>
</div>
