<div>{{homeProject.project}}</div>


<div class="{{homeProject.alias}}Contain previewContain rowContain">
  <div class="opacityLayer">
    <div class="titleContain">
      <div class="projectTitles">
        <h2>{{homeProject.name}}</h2>
        <h4>{{homeProject.projectType}}</h4>
        <!-- TODO: use poj aliases for routing -->
        <p><a href="PSAL/index.html">Read The Case Study</a></p>
      </div>
    </div><!-- 
  --><div class="previewImageContain">
      <div class="previewContent">
        <img class="logo {{homeProject.alias}}Logo" src="{{homeProject.logo}}">
      </div>
    </div>
  </div>
</div>