<div>{{homeProject.project}}</div>


<div class="{{homeProject.alias}}Contain previewContain rowContain">
  <div class="opacityLayer">
    <div class="titleContain">
      <div class="projectTitles">
        <h2>{{homeProject.name}}</h2>
        <h4>MOBILE APP</h4>
        <p><a href="PSAL/index.html">Read The Case Study</a></p>
      </div>
    </div><!-- 
  --><div class="previewImageContain">
      <div class="previewContent">
        <img class="logo psalLogo" src="images/nyc_logo.png">
      </div>
    </div>
  </div>
</div>